@import url('https://fonts/googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Open Sans',sans-serif;
}

.full-site{
    background: #458D8D;
    
    justify-content: center;
    min-height: 100vh;
}
.description{
    background: #458D8D;
    margin-right: 110px;
    margin-left: 110px;
}
.wrapper{
    width: 65vmin;
    height:70vmin;
    border-radius: 5px;
    display : flex;
    flex-direction: column;
    overflow: hidden;
    background: #000;
}
.game-details{
    color :rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 27px;
    display:flex;
    justify-content: space-between;
    background-color: #2f8ca3;
}
.play-board{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: repeat(30,1fr)/repeat(30,1fr);
}
.play-board .food {
  background-color: #2f8ca3;
}
.play-board .snakeHead {
  /*background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/820/803/small/dark-green-yellow-gradient-blur-drawing-vector.jpg");*/
  background-image: url("https://cdn-media-1.freecodecamp.org/images/1*LqPtF9fIss1cuVq3Ui_NFQ.gif");
}
footer {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background:#193f4a;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #fffffe;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}